<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="myrules" Description="My rule set" ToolsVersion="16.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="UseConfigureAwait" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Error" />
    <Rule Id="CA1001" Action="Error" />
    <Rule Id="CA1002" Action="Error" />
    <Rule Id="CA1003" Action="Error" />
    <Rule Id="CA1004" Action="Error" />
    <Rule Id="CA1005" Action="Error" />
    <Rule Id="CA1006" Action="Error" />
    <Rule Id="CA1007" Action="Error" />
    <Rule Id="CA1009" Action="Error" />
    <Rule Id="CA1010" Action="Error" />
    <Rule Id="CA1011" Action="Error" />
    <Rule Id="CA1016" Action="Error" />
    <Rule Id="CA1017" Action="Error" />
    <Rule Id="CA1019" Action="Error" />
    <Rule Id="CA1021" Action="Error" />
    <Rule Id="CA1023" Action="Error" />
    <Rule Id="CA1024" Action="Error" />
    <Rule Id="CA1025" Action="Error" />
    <Rule Id="CA1028" Action="Error" />
    <Rule Id="CA1031" Action="Error" />
    <Rule Id="CA1033" Action="Error" />
    <Rule Id="CA1034" Action="Error" />
    <Rule Id="CA1035" Action="Error" />
    <Rule Id="CA1040" Action="Error" />
    <Rule Id="CA1041" Action="Error" />
    <Rule Id="CA1043" Action="Error" />
    <Rule Id="CA1044" Action="Error" />
    <Rule Id="CA1045" Action="Error" />
    <Rule Id="CA1046" Action="Error" />
    <Rule Id="CA1047" Action="Error" />
    <Rule Id="CA1048" Action="Error" />
    <Rule Id="CA1049" Action="Error" />
    <Rule Id="CA1050" Action="Error" />
    <Rule Id="CA1051" Action="Error" />
    <Rule Id="CA1052" Action="Error" />
    <Rule Id="CA1053" Action="Error" />
    <Rule Id="CA1054" Action="Error" />
    <Rule Id="CA1055" Action="Error" />
    <Rule Id="CA1056" Action="Error" />
    <Rule Id="CA1057" Action="Error" />
    <Rule Id="CA1058" Action="Error" />
    <Rule Id="CA1060" Action="Error" />
    <Rule Id="CA1061" Action="Error" />
    <Rule Id="CA1063" Action="Error" />
    <Rule Id="CA1064" Action="Error" />
    <Rule Id="CA1065" Action="Error" />
    <Rule Id="CA1300" Action="Error" />
    <Rule Id="CA1301" Action="Error" />
    <Rule Id="CA1302" Action="Error" />
    <Rule Id="CA1303" Action="Warning" />
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="Error" />
    <Rule Id="CA1306" Action="Error" />
    <Rule Id="CA1307" Action="Error" />
    <Rule Id="CA1308" Action="Error" />
    <Rule Id="CA1309" Action="Error" />
    <Rule Id="CA1400" Action="Error" />
    <Rule Id="CA1401" Action="Error" />
    <Rule Id="CA1402" Action="Error" />
    <Rule Id="CA1403" Action="Error" />
    <Rule Id="CA1404" Action="Error" />
    <Rule Id="CA1405" Action="Error" />
    <Rule Id="CA1406" Action="Error" />
    <Rule Id="CA1407" Action="Error" />
    <Rule Id="CA1408" Action="Error" />
    <Rule Id="CA1409" Action="Error" />
    <Rule Id="CA1410" Action="Error" />
    <Rule Id="CA1411" Action="Error" />
    <Rule Id="CA1412" Action="Error" />
    <Rule Id="CA1413" Action="Error" />
    <Rule Id="CA1414" Action="Error" />
    <Rule Id="CA1415" Action="Error" />
    <Rule Id="CA1600" Action="Error" />
    <Rule Id="CA1601" Action="Error" />
    <Rule Id="CA1700" Action="Error" />
    <Rule Id="CA1702" Action="Error" />
    <Rule Id="CA1708" Action="Error" />
    <Rule Id="CA1710" Action="Error" />
    <Rule Id="CA1711" Action="Error" />
    <Rule Id="CA1712" Action="Error" />
    <Rule Id="CA1714" Action="Error" />
    <Rule Id="CA1715" Action="Error" />
    <Rule Id="CA1720" Action="Error" />
    <Rule Id="CA1722" Action="Error" />
    <Rule Id="CA1801" Action="Error" />
    <Rule Id="CA2101" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="CS0169" Action="Warning" />
    <Rule Id="CS0649" Action="Warning" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8020" Action="Warning" />
    <Rule Id="CS8040" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="IDE0032" Action="None" />
    <Rule Id="IDE0032WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0008WithoutSuggestion" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0011WithoutSuggestion" Action="None" />
    <Rule Id="IDE0012" Action="None" />
    <Rule Id="IDE0013" Action="None" />
    <Rule Id="IDE0014" Action="None" />
    <Rule Id="IDE0015" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0016WithoutSuggestion" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0018WithoutSuggestion" Action="None" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0019WithoutSuggestion" Action="None" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0020WithoutSuggestion" Action="None" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0021WithoutSuggestion" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0022WithoutSuggestion" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0023WithoutSuggestion" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0024WithoutSuggestion" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0025WithoutSuggestion" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0026WithoutSuggestion" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0027WithoutSuggestion" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE1005" Action="None" />
    <Rule Id="IDE1005WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0010WithoutSuggestion" Action="None" />
    <Rule Id="IDE0033" Action="None" />
    <Rule Id="IDE0033WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1716" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="BC2025" Action="None" />
    <Rule Id="BC40000" Action="None" />
    <Rule Id="BC40001" Action="None" />
    <Rule Id="BC40003" Action="None" />
    <Rule Id="BC40004" Action="None" />
    <Rule Id="BC40005" Action="None" />
    <Rule Id="BC40007" Action="None" />
    <Rule Id="BC40008" Action="None" />
    <Rule Id="BC40009" Action="None" />
    <Rule Id="BC40010" Action="None" />
    <Rule Id="BC40011" Action="None" />
    <Rule Id="BC40012" Action="None" />
    <Rule Id="BC40014" Action="None" />
    <Rule Id="BC40018" Action="None" />
    <Rule Id="BC40019" Action="None" />
    <Rule Id="BC40020" Action="None" />
    <Rule Id="BC40025" Action="None" />
    <Rule Id="BC40026" Action="None" />
    <Rule Id="BC40027" Action="None" />
    <Rule Id="BC40028" Action="None" />
    <Rule Id="BC40029" Action="None" />
    <Rule Id="BC40030" Action="None" />
    <Rule Id="BC40031" Action="None" />
    <Rule Id="BC40032" Action="None" />
    <Rule Id="BC40033" Action="None" />
    <Rule Id="BC40034" Action="None" />
    <Rule Id="BC40035" Action="None" />
    <Rule Id="BC40038" Action="None" />
    <Rule Id="BC40039" Action="None" />
    <Rule Id="BC40040" Action="None" />
    <Rule Id="BC40041" Action="None" />
    <Rule Id="BC40042" Action="None" />
    <Rule Id="BC40043" Action="None" />
    <Rule Id="BC40046" Action="None" />
    <Rule Id="BC40048" Action="None" />
    <Rule Id="BC40049" Action="None" />
    <Rule Id="BC40050" Action="None" />
    <Rule Id="BC40051" Action="None" />
    <Rule Id="BC40052" Action="None" />
    <Rule Id="BC40053" Action="None" />
    <Rule Id="BC40054" Action="None" />
    <Rule Id="BC40055" Action="None" />
    <Rule Id="BC40056" Action="None" />
    <Rule Id="BC40057" Action="None" />
    <Rule Id="BC40059" Action="None" />
    <Rule Id="BC40060" Action="None" />
    <Rule Id="BC40998" Action="None" />
    <Rule Id="BC41001" Action="None" />
    <Rule Id="BC41002" Action="None" />
    <Rule Id="BC41003" Action="None" />
    <Rule Id="BC41004" Action="None" />
    <Rule Id="BC41005" Action="None" />
    <Rule Id="BC41006" Action="None" />
    <Rule Id="BC41007" Action="None" />
    <Rule Id="BC41008" Action="None" />
    <Rule Id="BC41009" Action="None" />
    <Rule Id="BC41997" Action="None" />
    <Rule Id="BC41998" Action="None" />
    <Rule Id="BC41999" Action="None" />
    <Rule Id="BC42000" Action="None" />
    <Rule Id="BC42004" Action="None" />
    <Rule Id="BC42016" Action="None" />
    <Rule Id="BC42017" Action="None" />
    <Rule Id="BC42018" Action="None" />
    <Rule Id="BC42019" Action="None" />
    <Rule Id="BC42020" Action="None" />
    <Rule Id="BC42021" Action="None" />
    <Rule Id="BC42022" Action="None" />
    <Rule Id="BC42024" Action="None" />
    <Rule Id="BC42025" Action="None" />
    <Rule Id="BC42026" Action="None" />
    <Rule Id="BC42029" Action="None" />
    <Rule Id="BC42030" Action="None" />
    <Rule Id="BC42031" Action="None" />
    <Rule Id="BC42032" Action="None" />
    <Rule Id="BC42033" Action="None" />
    <Rule Id="BC42034" Action="None" />
    <Rule Id="BC42035" Action="None" />
    <Rule Id="BC42036" Action="None" />
    <Rule Id="BC42037" Action="None" />
    <Rule Id="BC42038" Action="None" />
    <Rule Id="BC42099" Action="None" />
    <Rule Id="BC42101" Action="None" />
    <Rule Id="BC42102" Action="None" />
    <Rule Id="BC42104" Action="None" />
    <Rule Id="BC42105" Action="None" />
    <Rule Id="BC42106" Action="None" />
    <Rule Id="BC42107" Action="None" />
    <Rule Id="BC42108" Action="None" />
    <Rule Id="BC42109" Action="None" />
    <Rule Id="BC42111" Action="None" />
    <Rule Id="BC42207" Action="None" />
    <Rule Id="BC42300" Action="None" />
    <Rule Id="BC42301" Action="None" />
    <Rule Id="BC42302" Action="None" />
    <Rule Id="BC42303" Action="None" />
    <Rule Id="BC42304" Action="None" />
    <Rule Id="BC42305" Action="None" />
    <Rule Id="BC42306" Action="None" />
    <Rule Id="BC42307" Action="None" />
    <Rule Id="BC42308" Action="None" />
    <Rule Id="BC42309" Action="None" />
    <Rule Id="BC42310" Action="None" />
    <Rule Id="BC42311" Action="None" />
    <Rule Id="BC42312" Action="None" />
    <Rule Id="BC42313" Action="None" />
    <Rule Id="BC42314" Action="None" />
    <Rule Id="BC42315" Action="None" />
    <Rule Id="BC42316" Action="None" />
    <Rule Id="BC42317" Action="None" />
    <Rule Id="BC42318" Action="None" />
    <Rule Id="BC42319" Action="None" />
    <Rule Id="BC42320" Action="None" />
    <Rule Id="BC42321" Action="None" />
    <Rule Id="BC42322" Action="None" />
    <Rule Id="BC42324" Action="None" />
    <Rule Id="BC42326" Action="None" />
    <Rule Id="BC42327" Action="None" />
    <Rule Id="BC42328" Action="None" />
    <Rule Id="BC42332" Action="None" />
    <Rule Id="BC42333" Action="None" />
    <Rule Id="BC42334" Action="None" />
    <Rule Id="BC42335" Action="None" />
    <Rule Id="BC42336" Action="None" />
    <Rule Id="BC42337" Action="None" />
    <Rule Id="BC42338" Action="None" />
    <Rule Id="BC42339" Action="None" />
    <Rule Id="BC42340" Action="None" />
    <Rule Id="BC42341" Action="None" />
    <Rule Id="BC42342" Action="None" />
    <Rule Id="BC42343" Action="None" />
    <Rule Id="BC42344" Action="None" />
    <Rule Id="BC42345" Action="None" />
    <Rule Id="BC42346" Action="None" />
    <Rule Id="BC42347" Action="None" />
    <Rule Id="BC42348" Action="None" />
    <Rule Id="BC42349" Action="None" />
    <Rule Id="BC42350" Action="None" />
    <Rule Id="BC42351" Action="None" />
    <Rule Id="BC42352" Action="None" />
    <Rule Id="BC42353" Action="None" />
    <Rule Id="BC42354" Action="None" />
    <Rule Id="BC42355" Action="None" />
    <Rule Id="BC42356" Action="None" />
    <Rule Id="BC42357" Action="None" />
    <Rule Id="BC42358" Action="None" />
    <Rule Id="BC42359" Action="None" />
    <Rule Id="BC42360" Action="None" />
    <Rule Id="BC42361" Action="None" />
    <Rule Id="BC42364" Action="None" />
    <Rule Id="BC42366" Action="None" />
    <Rule Id="BC42367" Action="None" />
    <Rule Id="BC42368" Action="None" />
    <Rule Id="BC42369" Action="None" />
    <Rule Id="BC42370" Action="None" />
    <Rule Id="BC42371" Action="None" />
    <Rule Id="BC42372" Action="None" />
    <Rule Id="BC42373" Action="None" />
    <Rule Id="BC42374" Action="None" />
    <Rule Id="BC42375" Action="None" />
    <Rule Id="BC42376" Action="None" />
    <Rule Id="BC42377" Action="None" />
    <Rule Id="BC42378" Action="None" />
    <Rule Id="BC42379" Action="None" />
    <Rule Id="BC42380" Action="None" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic.EditorFeatures">
    <Rule Id="IDE0032" Action="None" />
    <Rule Id="IDE0032WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic.Features" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0012" Action="None" />
    <Rule Id="IDE0013" Action="None" />
    <Rule Id="IDE0014" Action="None" />
    <Rule Id="IDE0015" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1724" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.VisualStudio.Azure.Fabric.DiagnosticAnalyzers" RuleNamespace="Microsoft.VisualStudio.Azure.Fabric.DiagnosticAnalyzers">
    <Rule Id="SF1001" Action="None" />
    <Rule Id="SF1002" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1006" Action="None" />
    <Rule Id="S101" Action="None" />
    <Rule Id="S1048" Action="None" />
    <Rule Id="S1066" Action="None" />
    <Rule Id="S1075" Action="None" />
    <Rule Id="S108" Action="None" />
    <Rule Id="S1104" Action="None" />
    <Rule Id="S1110" Action="None" />
    <Rule Id="S1116" Action="None" />
    <Rule Id="S1117" Action="None" />
    <Rule Id="S1118" Action="None" />
    <Rule Id="S112" Action="None" />
    <Rule Id="S1121" Action="None" />
    <Rule Id="S1123" Action="None" />
    <Rule Id="S1125" Action="None" />
    <Rule Id="S1128" Action="None" />
    <Rule Id="S1134" Action="None" />
    <Rule Id="S1135" Action="None" />
    <Rule Id="S1144" Action="None" />
    <Rule Id="S1155" Action="None" />
    <Rule Id="S1163" Action="None" />
    <Rule Id="S1168" Action="None" />
    <Rule Id="S1172" Action="None" />
    <Rule Id="S1185" Action="None" />
    <Rule Id="S1186" Action="None" />
    <Rule Id="S1199" Action="None" />
    <Rule Id="S1206" Action="None" />
    <Rule Id="S1210" Action="None" />
    <Rule Id="S1215" Action="None" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S1264" Action="None" />
    <Rule Id="S1450" Action="None" />
    <Rule Id="S1481" Action="None" />
    <Rule Id="S1607" Action="None" />
    <Rule Id="S1643" Action="None" />
    <Rule Id="S1656" Action="None" />
    <Rule Id="S1699" Action="None" />
    <Rule Id="S1751" Action="None" />
    <Rule Id="S1764" Action="None" />
    <Rule Id="S1848" Action="None" />
    <Rule Id="S1854" Action="None" />
    <Rule Id="S1862" Action="None" />
    <Rule Id="S1871" Action="None" />
    <Rule Id="S1905" Action="None" />
    <Rule Id="S1939" Action="None" />
    <Rule Id="S1940" Action="None" />
    <Rule Id="S1944" Action="None" />
    <Rule Id="S2114" Action="None" />
    <Rule Id="S2123" Action="None" />
    <Rule Id="S2178" Action="None" />
    <Rule Id="S2183" Action="None" />
    <Rule Id="S2184" Action="None" />
    <Rule Id="S2187" Action="None" />
    <Rule Id="S2190" Action="None" />
    <Rule Id="S2201" Action="None" />
    <Rule Id="S2219" Action="None" />
    <Rule Id="S2223" Action="None" />
    <Rule Id="S2225" Action="None" />
    <Rule Id="S2234" Action="None" />
    <Rule Id="S2251" Action="None" />
    <Rule Id="S2252" Action="None" />
    <Rule Id="S2259" Action="None" />
    <Rule Id="S2275" Action="None" />
    <Rule Id="S2290" Action="None" />
    <Rule Id="S2291" Action="None" />
    <Rule Id="S2292" Action="None" />
    <Rule Id="S2306" Action="None" />
    <Rule Id="S2326" Action="None" />
    <Rule Id="S2327" Action="None" />
    <Rule Id="S2328" Action="None" />
    <Rule Id="S2344" Action="None" />
    <Rule Id="S2345" Action="None" />
    <Rule Id="S2346" Action="None" />
    <Rule Id="S2365" Action="None" />
    <Rule Id="S2368" Action="None" />
    <Rule Id="S2372" Action="None" />
    <Rule Id="S2376" Action="None" />
    <Rule Id="S2386" Action="None" />
    <Rule Id="S2437" Action="None" />
    <Rule Id="S2479" Action="None" />
    <Rule Id="S2486" Action="None" />
    <Rule Id="S2551" Action="None" />
    <Rule Id="S2583" Action="None" />
    <Rule Id="S2589" Action="None" />
    <Rule Id="S2681" Action="None" />
    <Rule Id="S2688" Action="None" />
    <Rule Id="S2692" Action="None" />
    <Rule Id="S2696" Action="None" />
    <Rule Id="S2699" Action="None" />
    <Rule Id="S2737" Action="None" />
    <Rule Id="S2743" Action="None" />
    <Rule Id="S2755" Action="None" />
    <Rule Id="S2757" Action="None" />
    <Rule Id="S2758" Action="None" />
    <Rule Id="S2761" Action="None" />
    <Rule Id="S2857" Action="None" />
    <Rule Id="S2930" Action="None" />
    <Rule Id="S2933" Action="None" />
    <Rule Id="S2934" Action="None" />
    <Rule Id="S2953" Action="None" />
    <Rule Id="S2971" Action="None" />
    <Rule Id="S2995" Action="None" />
    <Rule Id="S2996" Action="None" />
    <Rule Id="S2997" Action="None" />
    <Rule Id="S3005" Action="None" />
    <Rule Id="S3010" Action="None" />
    <Rule Id="S3060" Action="None" />
    <Rule Id="S3168" Action="None" />
    <Rule Id="S3169" Action="None" />
    <Rule Id="S3172" Action="None" />
    <Rule Id="S3217" Action="None" />
    <Rule Id="S3218" Action="None" />
    <Rule Id="S3220" Action="None" />
    <Rule Id="S3236" Action="None" />
    <Rule Id="S3237" Action="None" />
    <Rule Id="S3241" Action="None" />
    <Rule Id="S3244" Action="None" />
    <Rule Id="S3246" Action="None" />
    <Rule Id="S3247" Action="None" />
    <Rule Id="S3249" Action="None" />
    <Rule Id="S3251" Action="None" />
    <Rule Id="S3256" Action="None" />
    <Rule Id="S3261" Action="None" />
    <Rule Id="S3262" Action="None" />
    <Rule Id="S3263" Action="None" />
    <Rule Id="S3264" Action="None" />
    <Rule Id="S3265" Action="None" />
    <Rule Id="S3343" Action="None" />
    <Rule Id="S3346" Action="None" />
    <Rule Id="S3358" Action="None" />
    <Rule Id="S3376" Action="None" />
    <Rule Id="S3397" Action="None" />
    <Rule Id="S3400" Action="None" />
    <Rule Id="S3415" Action="None" />
    <Rule Id="S3427" Action="None" />
    <Rule Id="S3433" Action="None" />
    <Rule Id="S3440" Action="None" />
    <Rule Id="S3442" Action="None" />
    <Rule Id="S3443" Action="None" />
    <Rule Id="S3444" Action="None" />
    <Rule Id="S3445" Action="None" />
    <Rule Id="S3447" Action="None" />
    <Rule Id="S3449" Action="None" />
    <Rule Id="S3450" Action="None" />
    <Rule Id="S3451" Action="None" />
    <Rule Id="S3453" Action="None" />
    <Rule Id="S3456" Action="None" />
    <Rule Id="S3457" Action="None" />
    <Rule Id="S3458" Action="None" />
    <Rule Id="S3459" Action="None" />
    <Rule Id="S3464" Action="None" />
    <Rule Id="S3466" Action="None" />
    <Rule Id="S3597" Action="None" />
    <Rule Id="S3598" Action="None" />
    <Rule Id="S3600" Action="None" />
    <Rule Id="S3603" Action="None" />
    <Rule Id="S3604" Action="None" />
    <Rule Id="S3610" Action="None" />
    <Rule Id="S3626" Action="None" />
    <Rule Id="S3655" Action="None" />
    <Rule Id="S3869" Action="None" />
    <Rule Id="S3871" Action="None" />
    <Rule Id="S3875" Action="None" />
    <Rule Id="S3877" Action="None" />
    <Rule Id="S3881" Action="None" />
    <Rule Id="S3884" Action="None" />
    <Rule Id="S3885" Action="None" />
    <Rule Id="S3887" Action="None" />
    <Rule Id="S3889" Action="None" />
    <Rule Id="S3897" Action="None" />
    <Rule Id="S3903" Action="None" />
    <Rule Id="S3904" Action="None" />
    <Rule Id="S3923" Action="None" />
    <Rule Id="S3925" Action="None" />
    <Rule Id="S3926" Action="None" />
    <Rule Id="S3927" Action="None" />
    <Rule Id="S3928" Action="None" />
    <Rule Id="S3949" Action="None" />
    <Rule Id="S3963" Action="None" />
    <Rule Id="S3966" Action="None" />
    <Rule Id="S3971" Action="None" />
    <Rule Id="S3972" Action="None" />
    <Rule Id="S3973" Action="None" />
    <Rule Id="S3981" Action="None" />
    <Rule Id="S3984" Action="None" />
    <Rule Id="S3998" Action="None" />
    <Rule Id="S4015" Action="None" />
    <Rule Id="S4016" Action="None" />
    <Rule Id="S4019" Action="None" />
    <Rule Id="S4035" Action="None" />
    <Rule Id="S4061" Action="None" />
    <Rule Id="S4070" Action="None" />
    <Rule Id="S4136" Action="None" />
    <Rule Id="S4143" Action="None" />
    <Rule Id="S4144" Action="None" />
    <Rule Id="S4158" Action="None" />
    <Rule Id="S4159" Action="None" />
    <Rule Id="S4200" Action="None" />
    <Rule Id="S4201" Action="None" />
    <Rule Id="S4210" Action="None" />
    <Rule Id="S4211" Action="None" />
    <Rule Id="S4214" Action="None" />
    <Rule Id="S4220" Action="None" />
    <Rule Id="S4260" Action="None" />
    <Rule Id="S4275" Action="None" />
    <Rule Id="S4277" Action="None" />
    <Rule Id="S4426" Action="None" />
    <Rule Id="S4428" Action="None" />
    <Rule Id="S4433" Action="None" />
    <Rule Id="S4456" Action="None" />
    <Rule Id="S4457" Action="None" />
    <Rule Id="S4487" Action="None" />
    <Rule Id="S4524" Action="None" />
    <Rule Id="S4581" Action="None" />
    <Rule Id="S4583" Action="None" />
    <Rule Id="S4586" Action="None" />
    <Rule Id="S4635" Action="None" />
    <Rule Id="S4830" Action="None" />
    <Rule Id="S5034" Action="None" />
    <Rule Id="S5542" Action="None" />
    <Rule Id="S5547" Action="None" />
    <Rule Id="S5773" Action="None" />
    <Rule Id="S818" Action="None" />
    <Rule Id="S907" Action="None" />
    <Rule Id="S927" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1652" Action="Warning" />
  </Rules>
</RuleSet>